@media(max-width: 1240px){
  .team_item--2{
    top: 210px;
    left: 25px;
  }

  .team_item--4{
    left: 220px;
  }
}

@media(max-width: 1098px){
  .slider__item-img{
    width: 100%;
    height: 250px;
  }
}

@media(max-width: 1090px){
  .team_item--5{
    bottom: 80px;
  }
}

@media(max-width: 1075px){
  .blog__text{
    margin-bottom: 20px;
  }
}

@media(max-width: 992px){
  .header__inner{
  flex-wrap: wrap;
  height: auto;
  padding-top: 25px;
  }
  .menu{
    order: 1;
    width: 100%;
  }
  .menu__list{
    justify-content: flex-end;
    padding: 25px 15px 0 0;
  }
  .top__inner{
    background-image: none;
  }

  .tools__items{
    flex-wrap: wrap; 
  }
  
  .tools__item{
    width: 50%;
    margin-bottom: 30px;
    padding-right: 15px;
  }

  .direction__item-img{
    width: 40%;
  }

  .team_item--5{
    bottom: 80px;
  }
}

@media(max-width: 860px){
  .direction__item-img{
    width: 80%;
    margin: 0 auto;
    order: -1;
  }

  .direction__item{
    flex-wrap: wrap;
  }

  .direction__item-content{
    width: 100%;
  }

  .team__item{
    display: none;
  }

  .team__inner{
    padding: 80px 0;
  }

  .footer__inner{
    flex-wrap: wrap;
  }

  .footer__form{
    width: 100%;
    margin-top: 20px;
  }
}

@media(max-width: 768px){
  .top__inner,
  .direction,
  .blog,
  .footer__inner{
    padding: 50px 0 40px;
  }

  .tools{
    padding-top: 40px;
  }

  .tools__inner{
    padding-bottom: 60px;
  }
}

@media(max-width: 719px){
  .slider__item-img{
    width: 100%;
    height: 260px
  }
}

@media(max-width: 505px){
  .header__inner{
    display: block;
  }
  
  .menu__list{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
    transform: translateY(-300%);
    transition: all .9s;
  }

  .menu__list.menu__list--active{
    transform: translateY(0%);
    transition: all .9s;
  }

  .menu__list-link{
    display: block;
    padding: 10px 0;
  }

  .menu__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 25px;
  }

  .user-nav{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-top: 30px;
  }

  .menu__list-item + .menu__list-item{
    margin-left: 0;
  }

  .top__title{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 15px;
  }

  .top__text,
  .top__btn{
    margin-bottom: 25px;
  }

  .tools__item{
    width: 100%;
  }

  .tools__title,
  .direction__item-title,
  .team__title{
    font-size: 24px;
    line-height: 30px;
  }

  .direction__item{
    margin-bottom: 40px;
  }

  .footer .logo{
    width: 100%;
    margin-bottom: 25px;
  }

  .footer__inner{
    justify-content: space-around;
  }

  .footer__menu-title{
    margin-bottom: 10px;
    line-height: 15px;
  }

}

@media(max-width: 321px){
  .tools__inner{
    text-align: center;
  }

  .tools__item-img{
    margin-bottom: -5px;
  }

  .tools__item-title{
    margin-bottom: 0;
  }

  .direction__list-item{
    margin-bottom: 15px;
    padding-left: 45px;
  }
  .direction__list-item:before{
    top: 5px;
  }

  .slider__item-img{
    width: 100%;
    margin-bottom: 8px;
  }

  .blog__text{
    margin-bottom: 20px;
  }
}